.hidden {
    display: none;
}
.people-form {
    display: block;
    height: 100%;
    overflow: scroll;
}
body, .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
}
body {
    background: deepskyblue;
}
.content {
    background: white;
    border-radius: 15px;
    min-height: 800px;
    min-width: 900px;
}
.flex-2 {
    display: flex;
    flex-direction: row;
}
.flex-2>div {
    margin: 0 50px;
    max-width: 120px;
    padding: 10px;
}
h3,h2,h1 {
    text-align: center;
}
.people-list>h4 {
    margin: 0 50px;


}
.employee, .supplier, .customer {
    padding: 10px;
    font-size: 18px;
    min-width: 180px;
    border: 1px black solid;
    border-radius: 10px;
}
.people-form>form>label {
    text-wrap: nowrap;
}
.people-form>form {
    max-width: 230px;
    text-wrap: wrap;
}